<% if (error.length > 0) { %>
    <div class="alert alert-light alert-success fade show" role="alert">
        <%= error%>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
 <% } %> 

